@charset "utf-8";
/* 全局 */
html, body, div, h1, h2, h3, h4, h5, h6, p, span, em, a, img, ul, li, ol, form, button, input, textarea, dl, dt, dd, iframe {
    margin: 0;
    padding: 0;
}

body {
    text-align: left;
    font: 14px/1.5 "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "Verdana", sans-serif;
    background: #EDEDED url("body-bg.png") repeat 0 0;
    color: #888;
}

a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    outline: 0 none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

a:hover, a:focus {
    text-decoration: none;
    color: #CD2407;
}

h1, h2, h3, h4, h5, h6, em {
    font-size: 14px;
    font-weight: normal;
}

h2 {
    color: #000;
}

ol, ul {
    list-style: none;
}

em {
    font-style: normal;
}

img {
    border: 0;
    vertical-align: middle;
}

a:hover img {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/*.clearfix{zoom:1;}*/
.wrap {
    margin: 0 auto;
    width: 980px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt1 {
    margin-top: 1px;
}

/* 头部 */
.nav_bar {
    height: 50px;
    background: #2783e0;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

.nav_bar a {
    color: #fff;
    text-decoration: none;
}

.nav_bar a:hover {
    color: #63b8ff;
    text-decoration: none;
}

.nav_bar .domain {
    float: left;
    font: normal 25px/50px "microsoft yahei", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53";
}

.nav_bar .nav_bar_r {
    float: left;
    line-height: 60px;
    margin-left: 10px;
    overflow: hidden;
}

/* 导航菜单 */
.nav_menu {
    width: 980px;
    overflow: hidden;
}

.nav li {
    background: #fff;
    width: 162px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-left: 1px solid #e6e6e6;
    float: left;
    text-align: center;
    /*text-shadow: 1px 1px 1px #f5f5f5;*/
    border-bottom: 1px solid #e6e6e6;
}

.nav li a {
    display: inline-block;
    width: 162px;
    color: #000;
}

.nav li a:hover {
    background-color: #000;
    color: #FFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.nav .active {
    background: #a5160f;
    width: 124px;
    border-left: none;
}

/*.nav_menu{width:980px;overflow:hidden;}
.nav li{background:#666;width:162px;height:40px;line-height:40px;font-size:16px;color:#fff;border-left:1px solid #eee;float:left;text-align:center;text-shadow:1px 1px 1px #000;border-bottom:1px solid #fff;}
.nav li a{display:inline-block;width:162px;color:#FFFFFF;}
.nav li a:hover{background-color:#000;color:#FFF;text-decoration:none;}
.nav .active{background:#a5160f;width:124px;border-left:none;}
*/

.btcont {
    width: 124px;
    height: 40px;
    font-size: 16px;
    font-family: microsoft yahei;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    background: #2783e0;
    z-index: 500;
    margin: 0 0 10px 1px;
    border-radius: 4px;
}


.fh {
    width: 960px;
    height: 12px;
    overflow: hidden;
    margin: 0 auto;
}

/* 尾部 */
.nav_menu_foot {
    width: 980px;
    overflow: hidden;
}

.nav_menu_foot li {
    background: #fff;
    width: 121px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #a5160f;
    border-left: 1px solid #e4e4e4;
    float: left;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.nav_menu_foot li a {
    display: inline-block;
    width: 121px;
    color: #2783e0;
}

.nav_menu_foot li a:hover {
    background-color: #000;
    color: #FFF;
    text-decoration: none;
}

.foot_cb {
    width: 980px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 20px auto 0;
}

.copyright {
    height: 50px;
    line-height: 50px;
    text-align: center;
}